.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-neutral-0);
  padding: 15px;
  text-align: center;
  border-top: 1px solid var(--color-primary-2);
  z-index: 1000;
}