@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.login-page-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.login-main-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary-7);
    padding: 2rem;
}

.btn-default {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    gap: 8px;
    height: fit-content;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}



.form-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    max-width: 450px;
    background-color:var(--color-primary-7) ;
    padding: 2.5rem;
    border-radius: 16px;
    box-shadow: 0px 10px 25px -3px rgba(0, 0, 0, 0.1);
    margin: 200px auto;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-title {
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--color-neutral-1);
    position: relative;
}

.form-title::after {
    content: '';
    position: absolute;
    width: 80px;
    height: 4px;
    border-radius: 30px;
    background-color: var(--color-neutral-1) ;
    left: 0;
    bottom: -5px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form-label {
    font-size: 14px;
    color:var( --color-neutral-1) ;
    font-weight: 500;
}

.input-field #email{
    align-items: center;
    background-color:var(--color-primary-1) ;
    border-radius: 8px;
    border: 0px solid ;
    overflow: hidden;
    box-shadow: none;
}


.input-field {
    display: flex;
    align-items: center;
    background-color:var(--color-primary-1) ;
    border-radius: 8px;
    border: 1px solid ;
    overflow: hidden;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-field svg {
    padding: 0 12px;
    color:var(--color-neutral-1) ;
    flex-shrink: 0;
}

.input-field .password-icon {
    cursor: pointer;
}

.form-control {
    padding: 12px;
    flex-grow: 1;
    border: none;
    background-color: transparent;
    color: var(--color-neutral-1) ;
    font-size: 1rem;
}

.form-control:focus {
    outline: none;
}

.input-box .input-field:focus-within {
    border-color: var(--color-neutral-1) ;
    box-shadow: 0 0 0 3px rgba(135, 187, 120, 0.2);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px white inset !important; 
    -webkit-text-fill-color: var(--color-neutral-1) !important;
    transition: background-color 5000s ease-in-out 0s;
}
