* {
    box-sizing: border-box; 
}

#form {
    display: flex;
    flex-direction: column;
}

.formulario_contato {
    background-color: var(--color-neutral-0);
    border-radius: 3px;
    padding: 1.3%; 
    width: 350px;
    margin-right: 55%;
    margin-left: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#name,
#email {
    background-color: var(--color-primary-1);
    padding: 10px; 
    border-radius: 2px;
    margin-bottom: 15px;
    border: 1px solid #ccc; 
    width: 40%;
}

#message {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    height: 125px;
    border-radius: 2px;
    margin-bottom: 15px;
    border: 1px solid #ccc; 
    width: 40%;
}

#nome_texto,
#email_texto,
#mensagem_texto {
    font-weight: 500;
    margin-bottom: 5px;
}


#enviar_form {
    background-color: var(--color-primary-5);
    padding: 6px 25px;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start;
    font-weight: 500;
}


#enviar_form:hover {
      background-color: var(--color-green-success);
}


#feedback {
    color: var(--color-green-success);
    margin-top: 10px;
}