@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

button {
  border: none;
}

body {
  background-color: var(--color-primary-1);
}

html, body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* CONTAINER PRINCIPAL */
.list {
  padding: 100px 8%;
  background: var(--color-neutral-0);
}

.listagem {
  border: 4px solid var(--color-neutral-1);
  border-radius: 20px;
  padding: 20px;
  width: 100%;
}

/* BOTÕES SUPERIORES */
.botoes {
  margin: 10px 0 20px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.botoes button {
  background: var(--color-primary-4);
  width: 140px;
  height: 50px;
  color: white;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.botoes button:hover {
  background: var(--color-primary-2);
  color: var(--color-neutral-1);
}


.produtos {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%; /* importante */
  align-items: center;
}

.produto {
  display: flex;
  flex-direction: row;
  width: 100%; /* sempre ocupa a linha inteira */
  max-width: 100%; /* impede que dois cards fiquem lado a lado */
  padding: 10px;
  border: 4px solid var(--color-neutral-1);
  border-radius: 20px;
  background: white;
  gap: 12px;
}


.produto img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 4px solid var(--color-neutral-1);
  border-radius: 14px 20px 20px 14px;
}

/* TEXTOS DO CARD */
.dados_do_produto {
  flex: 1;
}

.interesse {
  flex: 1;
}

/* BOTÕES DENTRO DO CARD */
.acoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

.b {
  background-color: var(--color-primary-4);
  color: white;
  padding: 0 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  height: 40px;
}

.b:hover {
  background: var(--color-primary-2);
  color: var(--color-neutral-1);
}

.modal_fundo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: white;
  padding: 30px;
  width: 420px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #aaa;
}

.modal_botoes {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.modal_botoes button {
  background: var(--color-primary-4);
  padding: 8px 20px;
  border-radius: 8px;
  color: white;
}
