.login-page-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.form-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  overflow: hidden;
}

.login-form {
  overflow: hidden;
}